@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Add Employee</h2>
  @model AddEmployeeForm
@using (Html.BeginForm("AddEmployee", "BankBranch", FormMethod.Post))
{
    <form>
        @Html.EditorForModel()
        <button class="btn btn-primary" type="AddEmployee">AddEmployee</button>
    </form>
}
