@model BankBranch
<h1>Branch Details</h1>
<table class="table">
<tr><th>Name</th>
    <td>@Model.LocationName</td>
    </tr>

    <tr>
        <th>Branch Manager</th>
        <td>@Model.BranchManager</td>

    </tr>

    <tr>
        <th>Employee Count</th>
        <td>@Model.EmployeeCount</td></tr>


    <tr>
        <th>Location URL</th>
        <td>@Model.LocationURL</td>
    </tr>
</table>
